@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --base-color: #fff;
  --text-color: #000;
  --secondary-color: #b6b6b6;
  --brand-color: #7146ff;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Poppins;
  font-size: 18px;
}
body {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 200px;

  display: flex;
  flex-direction: column;
}
nav {
  position: fixed;
  background-color: var(--base-color);
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--secondary-color);
  z-index: 15;
}
nav .logo {
  margin-right: auto;
}
nav .nav-links {
  list-style-type: none;
  display: flex;
  column-gap: 1rem;
}
nav a {
  position: relative;
  text-decoration: none;
  color: #585a63;
}
nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: var(--brand-color);
  width: 0;
  transition: all 0.3s;
}
nav a:hover::after {
  width: 100%;
}
/* Sidebar Nav */
/* Hide sidebar */
nav #sidebar-active {
  display: none;
}
nav #toggle-button {
  display: none;
}
nav .nav-links label {
  display: none;
}
nav #overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* still smaller than the sidebar */
  z-index: 5;
}
#sidebar-active:checked ~ #overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.search-bar {
  margin: 3rem auto 2rem;
  border: 2px solid var(--secondary-color);
  border-radius: 100px;
  height: max-content;
  display: flex;
  position: relative;
}

.search-bar input {
  width: min(30em, 80vw);
  padding: 0.5rem 1rem 0.5rem 3.25em;
  border: none;
  border-radius: 100px;
  font: inherit;
}

.search-bar input:focus {
  outline: none;
}

.search-bar:has(input:focus) {
  border-color: var(--brand-color);
  transition: all 0s;
}

.search-bar svg {
  position: absolute;
  top: 50%;
  left: 1rem;
  translate: 0 -50%;
}

.products-list {
  width: min(66.6rem, 90vw); /* 1200px - 90vw */
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  row-gap: 2rem;
}
.product {
  text-align: center;
}
.product-img {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.product p {
  max-width: 300px;
  font-weight: 600;
}
.product img {
  border-radius: 10px;
  transition: all 0.3s;
}
.product img:hover {
  transform: scale(1.07);
}
/* Show sidebar */
@media (max-width: 800px) {
  nav #toggle-button {
    display: block;
  }
  nav #sidebar-active:checked ~ .nav-links {
    right: 0;
  }
  nav #sidebar-active:checked ~ .nav-links label {
    display: block;
  }
  .nav-links label {
    position: absolute;
    top: 20px;
    left: 20px;
    transform-origin: 50% 50%;
    transition: all 0.3s;
  }
  nav .nav-links {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    position: fixed;
    top: 0;
    /* When toggled hide it with right equal to the width 
       plus the paddings*/
    right: -296px;
    z-index: 10;
    background-color: var(--base-color);
    padding: 1rem;
    height: 100vh;
    width: 260px;

    transition: all 0.3s;
  }
}
